{% extends theme('base.html') %}
{% import "macro/table.html" as table %}

{%- block title -%}
    {%- trans %}Users{% endtrans -%}
{%- endblock -%}

{% block script %}
    <script src="/static/js/users.js"></script>
{% endblock %}

{% block submenu %}
    <nav class="ui bottom attached {% if has_smtp %}three{% else %}two{% endif %} item borderless menu">
        <a class="active item" href="{{ url_for('account.users') }}">
            <i class="th list icon"></i>
            {% trans %}View{% endtrans %}
        </a>
        <a class="item" href="{{ url_for('account.profile_creation') }}">
            <i class="plus icon"></i>
            {% trans %}Add{% endtrans %}
        </a>
        {% if has_smtp %}
            <a class="item" href="{{ url_for('account.user_invitation') }}">
                <i class="paper plane icon"></i>
                {% trans %}Invite{% endtrans %}
            </a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="ui top attached segment">
        <h2 class="ui center aligned header">
            <div class="content">
                {% trans %}Users{% endtrans %}
            </div>
        </h2>

        {{ table.search(table_form, "table.users") }}
    </div>
    {% include "partial/users.html" %}
{% endblock %}
